<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application>
        <service
            android:name="com.oji.weq.loglib.Lolly"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
    </application>
</manifest>